.titulo-seccion{
	font-weight: 700;
	font-size: 46px;
	margin-top: 90px;

}
.bajada-titulo{
	font-family: 'Merriweather', serif;
	color: #CCCCCC;
	font-weight: 300;
}

/* PORTFOLIO */

.img-portfolio{
	width: 80%;
  margin-left: 9%;
  margin-top: 100px;
}

.margin-bottom{
	margin-bottom: 100px;
}

.tamanio-thumbnail{
	width: 293px;
  margin-left: 8%;
  margin-bottom: 130px;
}

.portfolio .container .row h4{
	font-weight: 700;
	margin-top:15px;
	font-size: 20px;
}
.portfolio .container .row h6{
	font-weight: 300;
	margin-top:15px;
	font-family: 'Merriweather', serif;
	font-size: 15px;
	margin-bottom: 27px;
}

/* ABOUT */ 

.margin-top{
	margin-top:60px;
}

.text-izq{
	width: 360px;
  text-align: right;
  margin-left: 10%;
}
.text-izq h4{
	font-weight: 700;
}

.text-izq p{
	font-family: 'Merriweather', serif;
  color: #CCCCCC;
  font-weight: 300;
}
.img-circle{
	background-color: #fff;
	border: 6px solid #E6E6E6;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 171px;
}

.text-der{
	width: 360px;
	text-align: left;
	margin-left: -175px;

}

.text-der h4{
	font-weight: 700;
}

.text-der p{
	font-family: 'Merriweather', serif;
  color: #CCCCCC;
  font-weight: 300;
}

/* TEAM */

.img-team{
	margin-left: 100px;
	margin-top:100px;
}

.team .container .row  h4 {
		font-weight: 700;
	margin-top:15px;
	font-size: 20px;
}

.team .container .row  h6{
		font-weight: 300;
	margin-top:15px;
	font-family: 'Merriweather', serif;
	font-size: 15px;
	margin-bottom: 27px;
}

.rrss{
    width: 41px;
    padding: 2px;
    margin-top: -15px;
}

.img-circle-2 {
	background-color: #FFFFFF;
	border: 6px solid #FFFFFF;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 171px;
}