*{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

/* BACKGROUND */

.text-uppercase{
	text-transform: uppercase;
}

.navbar-background{
	background-image: url(../img/header-bg.jpg);
	background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.navbar a{
	color:#FED136;
	font-family: 'Kaushan Script', cursive;
	font-size: 27px;
}
.navbar a:hover{
	color:white;
}
.navbar ul li a {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
}

.navbar ul li a:hover {
	color:#FED136;
	background-color: transparent;
}

.texto-inicio{
	margin-top: 150px;
  margin-bottom: 150px;

}

.texto-inicio h3{
	color: white;
	font-size: 56px;
	font-family: 'Merriweather', serif;
}

.texto-inicio h1{
	color: white;
	font-size:70px;
	font-weight: 700;
}
.texto-inicio button{
  background-color: #FED136;
  width: 192px;
  height: 66px;
  margin-top: 50px;
  font-size: 19px;
	font-weight: 700;
}



/* SERVICES */ 

.services .container .row img{
  width: 30%;
  margin-left: 34%;
  margin-top: 60px;
  margin-bottom: 27px;
}

.services .container .row h4{
	font-weight: 700;
}

.services .container .row p{
	margin-bottom: 100px;
}

/* PORTFOLIO */

.portfolio{
	background-color: #EEEEEE;
}

/* ABOUT */ 
.margin-bottom{
	margin-bottom: 100px;
}
/* TEAM */
.team{
	background-color: #EEEEEE;	
}
